server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/xs?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  mail:
    host: smtp.qq.com
    username: 632740772@qq.com
    password: your_auth_code
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
app:
  novel-path: D:\JavaClassStudent\XS\novels\
  upload-Path: D:\JavaClassStudent\XS\avatar\

mybatis:
  configuration:
    map-underscore-to-camel-case: true
